.category {
	padding: 75px 0;
}

.category-swiper :global(.swiper-slide) {
	width: auto !important;
}

.category-top {
	margin-bottom: 40px;
	
	display: flex;
	justify-content: space-between;
}

.category__arrow-group {
	display: flex;
	align-items: center;
	gap: 16px;
}
